@charset "utf-8";
/* CSS Document */

p
{
	text-align: center;
}

form
{
	float:inherit;
	display: block;
	width: 640px;
	margin: 10px auto;
	text-align: center;
}

form button
{
	border-style: solid;
	width: 50px;
	color:#000;
	background-color: #47E260;
	border-color: #47E260;
	margin-top: 20px;
}

form button:hover
{
	color: #fff;
	background-color: #333;
	border-color: #333;
}

form.another
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	text-align: inherit;
}

form.another select 
	{
		width: 50px;
	}

form.another input[type=number]
	{
		width: 50px;
	}

a 
{
	width: 100px;
	margin: 150px auto;
	text-align: center;
	text-decoration: none;
	color:#000;
	background-color: #ccc;
	display: block;
	padding: 10px;
}

a:hover
{
	color: #fff;
	background-color: #999;
}
